@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

.sidebar {
    width: 250px;
    background-color: white;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #597a82;
    /*padding-left: 20px ;*/
    /*padding-bottom: 20px ;*/
    /*padding-top: 20px ;*/
}

.sidebar-header {
    padding: 0 0.5rem;
    margin-bottom: 2rem;
}

.logo {
    font-family: 'Italianno', cursive;
    font-size: 1.5rem;
    color: #333;
    margin: 0;
    font-weight: normal;
    margin-top: 2rem;
}

.sidebar-nav {
    flex: 1;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    margin-bottom: 0.5rem;
}

.sidebar-nav a {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color: #666;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.2s ease;
}

.sidebar-nav a:hover {
    background-color: #f5f5f5;
    color: #597a82;
}

.sidebar-nav a.active {
    background-color: #93C7D3;
    color: white;
}

.sidebar-nav a.active .sidebar-icon {
    color: white;
}

.sidebar-icon {
    margin-right: 0.75rem;
    color: #597A82;
}

.sidebar-footer {
    margin-top: auto;
    padding: 0.5rem;
}

.user-profile {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.75rem;
    background: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.2s;
}

.user-profile:hover {
    background-color: #f5f5f5;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #93C7D3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.75rem;
}

.avatar span {
    color: white;
    font-size: 0.875rem;
    font-weight: 500;
}

.username {
    flex: 1;
    text-align: left;
    font-size: 0.875rem;
    margin-right: 0.5rem;
}

